<a href="https://colab.research.google.com/github/imrancomsats/Label-encoding--decoding-multiple-columns/blob/main/InverseTransform.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [78]:
import pandas as pd
from sklearn.preprocessing import OneHotEncoder,LabelEncoder
from collections import defaultdict

# initialize list of lists
data = [["tom", 10,'Pakistan'], ['nick', 15,'Canada'], ['juli', 14,'USA'],['Imran',14,'Australia']]
  
# Create the pandas DataFrame
data = pd.DataFrame(data, columns = ['Name', 'Age','Country'])
print(data )
# print dataframe.
data.dtypes

Name       object
Age         int64
Country    object
dtype: object

In [74]:
string_columns = list(data.select_dtypes(include=['object']).columns)

In [75]:
string_columns= data[string_columns]

In [76]:
d = defaultdict(LabelEncoder)
fit = string_columns.apply(lambda x: d[x.name].fit_transform(x))

In [77]:
fit

   Name  Country
0     3        2
1     2        1
2     1        3
3     0        0

In [72]:
inversed_df=fit.apply(lambda x: d[x.name].inverse_transform(x))
inversed_df

    Name    Country
0    tom   Pakistan
1   nick     Canada
2   juli        USA
3  Imran  Australia

In [73]:
pd.concat([data["Age"], inversed_df], axis=1)

   Age   Name    Country
0   10    tom   Pakistan
1   15   nick     Canada
2   14   juli        USA
3   14  Imran  Australia